@{
    ViewData["Title"] = "Home Page";
}

<style>
    .bg {
        width: 80%;
        z-index: 0;
    }
</style>


<div class="text-center">
    <img src="3835119.jpg" class="bg">
</div>

<div class="text-center">
    Image by <a href="https://www.freepik.com/free-vector/online-doctor-concept_8252365.htm#query=digital%20healthcare%20platform&position=4&from_view=keyword&track=ais&uuid=1c3c20b5-cc9f-4106-8f44-f092f18aabbe">Freepik</a>
</div>
